@import url('https://fonts.googleapis.com/css?family=Merriweather');

.devo-detail-wrapper {
  padding-left: 80px;
  padding-right: 80px;

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.returned-content {
  font-family: "Merriweather", serif;
}

.returned-content img {
  width: 100%;
}
