@import url('https://fonts.googleapis.com/css?family=Merriweather');

.devo-detail-wrapper {
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  justify-content: center;

  .devo-detail-content {
    width: 800px;
  }

  .heading {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mark-completed-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }
}

.returned-content {
  font-family: "Merriweather", serif;
}

.returned-content img {
  width: 100%;
}
