@import "./variables.scss";

.spacer40 {
  height: 40px;
}

.spacer50 {
  height: 50px;
}

.spacer60 {
  height: 60px;
}

.spacer80 {
  height: 80px;
}

.draft-label {
  border: 1px $lightgray solid;
  border-radius: 3px;
  background: $lightgray;
  padding: 5px;
  font-size: 0.5em;
  margin-right: 15px;
  margin-bottom: 10px;
  color: white;
  font-weight: 900;
}
