.homepage-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 42px;
  grid-gap: 50px;

  .authors-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}
