@media (max-width: 48em) {
  .thumb-card-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-bottom: 42px;
  }

  .thumb-card {
    padding: 10px 10px 10px 10px;
    max-width: calc(100% - 20px);
  }
  .container {
    width: 100vw;

    .content-wrapper {
      .devo-detail-wrapper {
        padding-left: 0px !important;
        padding-right: 0px !important;
      }
    }

    .notification {
      max-width: calc(100% - 36px);
      border-radius: 0px;
    }

    .homepage-wrapper {
      grid-template-columns: 1fr;
      padding: 0px 15px;
      max-width: calc(100% - 36px);

      .two-column-grid {
        grid-template-columns: 1fr;

        .single-card-wrapper {
          max-width: calc(100% + 12px);
        }
      }

      .card {
        max-width: calc(100% - 78px);

        .plan-list-item {
          flex-direction: column;

          .right-column {
            display: flex;
            justify-content: space-around;
          }

          .left-column {
            margin-bottom: 20px;

            .plan-details {
              display: grid;
              grid-template-columns: 1fr;
              grid-gap: 5px;
            }
          }
        }
      }
    }

    div,
    .returned-content {
      width: 100% !important;
    }
  }

  .plan-header-wrapper {
    grid-template-columns: 1fr;

    .right-column {
      order: 1;

      button {
        width: 100%;
      }
    }

    .left-column {
      order: 2;
    }
  }
}
