@import "./variables.scss";

.notification {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: $teal;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  color: white;

  overflow-y: hidden;
  transition-property: all;
  transition-duration: 1.5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

  .title {
    font-weight: 900;
    font-size: 1.5em;
    margin-bottom: 15px;
  }

  .right-column {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      color: white;
    }
  }
}
