@import "./variables.scss";

.plan-summary {
  font-family: "Merriweather", serif;
  margin-bottom: 42px;
}

.plan-header-wrapper {
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  grid-gap: 20px;

  .right-column {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.animated-draggable-thumb-card {
  transition: all 0.5s;
}

.dayCountDescription {
  margin-top: 15px;
  font-size: 0.8em;
  color: $lightgray;
  font-weight: 900;
}
